body{
    background:#eee;    
}

.contenedor{
    width: 100%;
}

.textarea{
    width: 100%;
    margin-top: 20px;
}

.contenedor-tabla{
    display: block;
    background: #fff;
    width: 80%;
    padding: 20px;
    margin: 20px 0px;
}

.formulario{
    background: #fff;
    padding: 15px;
    display: block;
    margin: 20px auto;
}

.form-group{
    padding: 10px;
}


.formulario input{
    width: 100%;
    padding: 5px;
    margin-top: 10;
}


.formulario label {
	font-size:18px;
    line-height:32px;
	font-weight: 400;
	color: #333;
}

.sala-chat{
    padding: 20px;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
}

.hidden{
    display: none;
}

.chat{
    padding: 10px;
    display: inline-table;
    width: 48%;
}

.chat ul{
    margin: 0;
    padding: 0;
}

.chat ul li{
    border-bottom: solid 1px #eee;
    padding: 10px;
    list-style: none;
}

.ventana-chat{
    background: #f9f9f9;
    padding: 10px
}